@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
 .container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../abc.jpg);
    background-size: cover;
    background-position: center;
    }
 .container .form-container{
      padding: 40px 50px 40px 50px;
      background-image: linear-gradient(45deg, #56ab2f, #a8e063);
      border-radius: 10px;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
      }
  .container .form-container .heading h2{
      text-align: center;
      text-transform: uppercase;
      font-size: 35px;
      margin-bottom: 20px;
      color: #fff;
      }
 .container .form-container .input_box input{
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(255,255,255,0.24);
    color: #fff;
    margin-bottom: 20px;
    font-size: 13px;
    padding: 4px 0px 4px 25px;
    height: 33px;
    transition: 0.8s all;
    }
 .container .form-container .input_box textarea{
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(255,255,255,0.24);
    color: #fff;
    margin-bottom: 20px;
    font-size: 13px;
    padding: 4px 0px 4px 25px;
    transition: 0.8s all; 
    }
  .container .form-container .input_box input:focus;
  .container .form-container .input_box textarea:focus;{
      outline: none;
      border-color: #fff;
      }
  .container .form-container .input_box {
      position: relative;
      }
  .container .form-container .input_box .icon{
      position: absolute;
      height: 33px;
      color:#fff;
      line-height: 33px;
      }
  .container .form-container .submit button{
      border: none;
      border-radius: 10px;
      outline: none;
      width: 100%;
      background: #fff;
      color: #555;
      height: 40px;
      font-size: 15px;
      font-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      }